@import "tailwindcss";

/* Base tokens (Light) */
:root {
   --bg: 252 252 255;
   --surface: 250 250 252;
   --elevated: 255 255 255;

   --text: 17 17 19;
   --muted: 110 110 120;

   --border: 230 230 235;

   --ring: 168 85 247;
   /* purple-500 */
}

/* Dark mode tokens */
.dark {
   --bg: 10 10 12;
   --surface: 14 14 18;
   --elevated: 18 18 24;

   --text: 245 245 247;
   --muted: 160 160 170;

   --border: 35 35 45;

   --ring: 168 85 247;
}

html,
body {
   height: 100%;
}

body {
   background: rgb(var(--bg));
   color: rgb(var(--text));
}

/* Smooth fonts */
* {
   -webkit-font-smoothing: antialiased;
   -moz-osx-font-smoothing: grayscale;
}